<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="camera_frame"/>
    
    <joint name="camera_joint" type ="fixed">
        <parent link="chassis"/>
        <child link="camera_frame"/>
        <origin xyz= "-0.085 0 0.025" rpy="0 0 0"/>
    </joint>

</robot>