<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="laser_frame"/>
    
    <joint name="lidar_joint" type ="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz= "-0.045 0 0.10" rpy="0 0 -1.57"/>
    </joint>

</robot>